body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  line-height: 1.6px;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: border-box;
  /* box setting */
}

.container {
  background: #f6f2f2;
  width: 100%;
  max-width: 1579px;
  height: 688px;
  padding: 30px 165px;
  display: block;
  align-items: flex-start;
}

.nav_menu {
  background: #313030;
  /* justify-content: center;
  align-items: center; */
}

.navigation {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  margin: 0px;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  /* remove underscore */
  text-transform: uppercase;
  transition: 0.2s linear;
  /* time to change color */
}

/*change color for nav_link */
.nav_link:hover {
  background: #ff3f40;
  color: black;
}

/*change color for nav_link */
.nav_link:active {
  background: #ff2d2d;
}

.organaisation {
  margin-top: 108px;
  width: 1249px;
  height: auto;
  display: flex;
}

.title {
  float: left;
  width: 588px;
  height: 117px;
  margin: 0 auto;
  margin-right: 112px;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.title_video{
  background-color: #c4c0b1;
  float: left;
  width: 549px;
  height: 356px;
  box-shadow: 0 0 70px rgb(141, 141, 141);
}

.paragraph {
  margin-top: 153px;
  width: 500px;
  position: absolute;
  height: 73px;
  /* padding: 36px 75px 58px 0px; */
  /* margin: 0 auto; */
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 25px;
  text-transform: none; /*choice registr*/
  font-weight: 400;
  line-height: 28px;
  /* letter-spacing: normal; distance between letter */
}

/*style for button*/
.button_location {
  margin-top: 300px;
  width: 227px;
  height: 55px;
}

.button {
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background: #ff2d2d;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
}

/*effects for button*/
.button:hover {
  background: #eb6262;
  color: black;
}

.button:active {
  background: #ff2d2d;
}

.block{
  float: left;
  width: 300px;
  height: 300px;
  border: 1px solid red;
}

