body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  line-height: 1.6px;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
  /* box setting */
}

.container {
  background: #f6f2f2;
  width: 100%;
  max-width: 1300px;
  /* height: 700px; */
  padding: 30px 165px;
  display: block;
}

.nav_menu {
  background: #313030;
}

.navigation {
  width: 970px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  margin: 0px;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  /* remove underscore */
  text-transform: uppercase;
  transition: .2s linear;
  /* time to change color */
}

/*change color for nav_link */
.nav_link:hover {
  background: #ff3f40;
  color: black;
}

/*change color for nav_link */
.nav_link:active {
  background: #ff2d2d;
}

.organaisation {
  margin-top: 108px;
  width: 50%;
  height: 150px;
  border: 1px solid red;
}

.title {
  margin: 0 auto;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.org_text{
  margin-top: 36px;
  width: 40%;
  height: 73px;
  border: 1px solid red;
}


/* .paragraph {
  padding: 36px 75px 58px 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-transform: none; /*choice registr*/
/* letter-spacing: normal; distance between letter */
}

/*set margin for heading*/
/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} */

/*style for button*/
.button {
  border-radius: 10px;
  font-size: 22px;
  color: white;
  background: #ff2d2d;
  text-decoration: none;
  text-transform: capitalize;
  width: 227px;
  height: 55px;
  display: block;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
}

/*effects for button*/
.button:hover {
  background: #eb6262;
  color: black;
}

.button:active {
  background: #ff2d2d;
}