body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  line-height: 1.6px;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: border-box;
  /* box setting */
}

.container {
  background: #f6f2f2;
  width: 100%;
  max-width: 1579px;
  min-height: 688px;
  padding: 30px 165px;
  display: block;
  align-items: flex-start;
}

.nav_menu {
  background: #313030;
  /* justify-content: center;
  align-items: center; */
}

.navigation {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  margin: 0px;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  /* remove underscore */
  text-transform: uppercase;
  transition: 0.2s linear;
  /* time to change color */
}

/*change color for nav_link */
.nav_link:hover {
  background: #ff3f40;
  color: black;
}

/*change color for nav_link */
.nav_link:active {
  background: #ff2d2d;
}

.organaisation {
  margin-top: 108px;
  width: 1249px;
  height: auto;
  display: flex;
}

.title {
  float: left;
  width: 588px;
  height: 117px;
  margin: 0 auto;
  margin-right: 112px;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.title_video {
  background-color: #c4c0b1;
  float: left;
  width: 549px;
  height: 356px;
  box-shadow: 0 0 70px rgb(141, 141, 141);
}

.paragraph {
  margin-top: 153px;
  width: 512px;
  position: absolute;
  height: 73px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 25px;
  text-transform: none; /* choice registr */
  font-weight: 400;
  line-height: 28px;
}

/*style for button*/
.button_location {
  margin-top: 300px;
  width: 227px;
  height: 55px;
}

.button {
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background: #ff2d2d;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
  transition: 0.5s linear;
}

/*effects for button*/
.button:hover {
  background: #eb6262;
  color: black;
}

.button:active {
  background: #ff2d2d;
}

.service {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  line-height: 1.6px;
}

.service_container {
  background: white;
  width: 100%;
  height: 692px;
  max-width: 1579px;
  padding: 30px 165px;
  display: inline-flex;
  align-items: flex-start;
  border: 1px solid blue;
}

/* Settings for title, paragraph and button */
.service_staff {
  border: 1px dotted red;
  width: 45%;
  float: left;
}

.service_title {
  width: 100%;
  height: 87px;
  font-size: 42px;
  opacity: 0.8;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.service_paragraph {
  width: 500px;
  height: 98px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 25px;
  text-transform: none; /* choice registr */
  font-weight: 400;
  line-height: 28px;
}

.service_button_location {
  margin-top: 60px;
  width: 227px;
  height: 55px;
}

/* Button settings */
.service_button {
  border-radius: 10px;
  font-size: 18px;
  color: red;
  background: white;
  border: 1px solid red;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
  transition: 0.5s linear;
}

/*effects for button*/
.service_button:hover {
  background: #e0ddd0;
}

.service_button:active {
  background: #ff2d2d;
}

.offers_items {
  float: left;
  width: 55%;
  min-height: 500px;
  border: 1px solid green;
}

.item {
  float: left;
  margin: 20px 10px 20px 10px;
  width: 47%;
  height: 200px;
  border: 1px solid red;
  padding: 5px;
}

.item_title {
  padding-top: 30px;
  padding-bottom: 17px;
  font-size: 24px;
}

.item_paragraph {
  width: 300px;
  height: 101px;
  opacity: 0.7;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
