/* Monitors */
@media screen and (max-width: 992px) {
  html,
  body {
    overflow-x: hidden;
  }

  .container {
    max-width: 100%;
    padding: 3% 5%;
  }

  .navigation {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav_link {
    height: 25%;
    padding: 2%;
    font-size: 14px;
  }

  .organaisation {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }

  .title {
    font-size: 4vh;
    float: inherit;
    width: 90%;
  }

  .paragraph {
    font-size: 1.5vh;
    width: 90%;
  }

  .button_location {
    margin: 50px auto;
  }

  .title_video {
    width: 65%;
    margin: 0 auto;
    justify-content: center;
  }

  /* Settings for title, paragraph and button */
  .service::after {
    min-width: 100px;
    margin: 5%;
    margin-top: 20px;
  }

  .service_container {
    padding: 3% 5%;
    /* clear: both; */
    display: inherit;
  }

  .service_staff {
    width: 100%;
  }

  .offers_items {
    width: 100%;
  }

  .item {
    margin-bottom: 50px;
  }

  .item_title {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
  }

  .service_title {
    font-size: 4vh;
    width: 100%;
    height: auto;
  }

  .service_paragraph {
    width: 100%;
    height: auto;
    font-size: 1.5vh;
  }

  .service_button_location {
    margin: 30px auto;
  }

  /* Features */
  .feature_container {
    padding: 3% 5%;
    display: inherit;
  }

  .feature_title {
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    font-size: 4vh;
    width: 100%;
    height: auto;
  }

  .feature_paragraph {
    margin: 10px auto;
    font-size: 1.5vh;
  }

  .feature_text::after {
    margin: 20px auto 5px;
  }

  /* Feature menu styles */
  .feature_menu {
    text-align: center;
    margin: 50px auto;   
  }

  .feature_link {
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.22px;
    padding: 30px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s linear;
    align-items: center;
    border: 1px solid rgb(5, 2, 1);
  }
  
  .top_line{
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .bottom_line{
    flex-wrap: wrap;
  }

  .feature_rectangle {
    max-width: 298px;
    max-height: 291px;
    margin: 20px;
    border: 1px solid rgb(216, 214, 214);
  }

  /* Team */
  .team_container{
    padding: 3% 5%;
    
  }

  .team_title{
    font-size: 4vh;
  }
  
  .team_paragraph{
    font-size: 1.5vh;
  }

  .main_photo{
    margin-top: 30px;
    margin-right: 30px;
  }

  .calling_card{
    padding-top: 0;
    width: 100%;
  }

  .contacts_menu{
    margin: 20px auto;
    margin-bottom: 70px;
  }

  .contacts_menu::after{
    content: "";
    display: flex;
    width: 132px;
    height: 3px;
    background-color: #ff2d2d;
    margin-top: 30px;
  }

  .other_employees {
    flex-wrap: wrap;
  }
  







}
